html{
    box-sizing: border-box;
   }
   *,
   *::after,
   *::before {
    box-sizing: inherit;
   }

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 520px;
    height: 350px;
    background: white;
    box-shadow: 5px 5px 15px rgba(rgb(0, 204, 255), .5);
    border-radius: 10px;
    display: grid
  }
  p {
    font-size: 0.6em;
    color: black;
    letter-spacing: 1px;
  }

  h1 {
    font-size: 1.2em;
    color: darkblue;
    margin-top: -5px;
  }
  h2 {
    color: tan;
    margin-top: -5px;
  }
  .images {
    width: 130px;
  }
  
  img {
    width: 100%;
    height: 100%;
    margin-top: 47px;
  }
  .product {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
  }
  .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: darkblue;
    font-size: .7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
  }
  
  button {
    background: darken(lightpink, 10%);
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
  }
  
  .add {
    width: 67%;
  }
  
  .like {
    width: 22%;
  }
  
  .sizes {
    display: grid;
    color: pink;
    grid-template-columns: repeat(auto-fill, 30px);
    width: 60%;
    grid-gap: 4px;
    margin-left: 20px;
    margin-top: 5px;

  }
  
  .pick {
    margin-top: 11px;
    margin-bottom:0;
    margin-left: 20px;
  }
  
  


